<a href="https://colab.research.google.com/github/testowankopythonika2/Machine-Learning-Python-Bootcamp/blob/main/supervised/01_basics/01_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import bibliotek

In [2]:
import numpy as np
import pandas as pd
import sklearn

### Wygenerowanie danych

In [ ]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df_raw = pd.DataFrame(data=data)
df_raw

### Utworzenie kopii danych

In [ ]:
df = df_raw.copy()
df.info()

### Zmiana typu danych i wstÄ™pna eksploracja

In [ ]:
for col in ['size', 'color', 'gender', 'bought']:
  df[col] = df[col].astype('category')

df['weight'] = df['weight'].astype('float')

df.info()

In [ ]:
df.describe()

In [ ]:
df.describe().T

In [ ]:
df.describe(include=['category']).T

In [ ]:
df

### LabelEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])

In [ ]:
le.fit_transform(df['bought'])

In [ ]:
le.classes_

In [ ]:
df['bought'] = le.fit_transform(df['bought'])
df

In [ ]:
le.inverse_transform(df['bought'])

In [ ]:
df['bought'] = le.inverse_transform(df['bought'])
df

### OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)
encoder.fit(df[['size']])

In [ ]:
encoder.transform(df[['size']])

In [ ]:
encoder.categories_

In [ ]:
encoder = OneHotEncoder(drop='first', sparse=False)
encoder.fit(df[['size']])
encoder.transform(df[['size']])

In [25]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

### Pandas get_dummies()

In [ ]:
pd.get_dummies(data=df)

In [ ]:
pd.get_dummies(data=df, drop_first=True)

In [ ]:
pd.get_dummies(data=df, drop_first=True, prefix='new')

In [ ]:
pd.get_dummies(data=df, drop_first=True, prefix_sep='-')

In [ ]:
pd.get_dummies(data=df, drop_first=True, columns=['size'])

### Standaryzacja - StandardScaler

std() - pandas nieobciÄ…Å¼ony

std() - numpy obciÄ…Å¼ony

In [ ]:
print(f"{df['price']}\n")
print(f"Åšrednia: {df['price'].mean()}")
print(f"Odchylenie standardowe: {df['price'].std():.4f}")

In [ ]:
(df['price'] - df['price'].mean()) / df['price'].std()

In [ ]:
def standardize(x):
  return (x - x.mean()) / x.std()

standardize(df['price'])

In [ ]:
from sklearn.preprocessing import scale

scale(df['price'])

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df[['price']])
scaler.transform(df[['price']])

In [ ]:
scaler_price = StandardScaler()
df['price'] = scaler_price.fit_transform(df[['price']])
scaler_weight = StandardScaler()
df['weight'] = scaler_weight.fit_transform(df[['weight']])
df

### Przygotowanie danych do modelu

In [42]:
df = df_raw.copy()
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [43]:
le = LabelEncoder()

df['bought'] = le.fit_transform(df['bought'])

scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])

df = pd.get_dummies(data=df, drop_first=True)
df

,price,weight,bought,size_M,size_XL,color_green,color_red,gender_male
0,1.845062,1.366002,1,0,1,0,1,0
1,-0.691898,0.623610,0,0,0,1,0,1
2,-0.461266,-1.603567,1,1,0,0,0,1
3,0.230633,-0.415740,0,0,0,1,0,0
4,-0.922531,0.029696,1,1,0,0,1,0